body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(./assets/Sydney.jpg);
  background-size: 100vw 120vh;
  background-repeat: no-repeat;
}
.userImg {
  width: 70px;
  height: 70px;
  border-radius: 3rem;
}
.tituloRegistro{
  font-size: 10vh;
  margin-top: 5vh;
  color: rgb(3, 3, 3);
}
.subtituloR{
  color: white;
}

.contenedorRgistro{
  width: 98.8vw;
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/registerimagen.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
}
.volver{
  border-radius: 3rem 1vh  ;
  background-color: rgb(24, 243, 232);
  padding: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  border: solid;
  text-decoration: lavender;
  color:rgb(0, 0, 0);
  box-shadow: 1vw 1vw 1vw 1vh rgba(0, 0, 0, 0.651);
}
.user-drop{
  margin-right: 2vw;
}
/*cities cards*/
.input{
  height: 7vh;
  width: 90%;
  color: white;
  background-color: rgb(26, 26, 26);
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 3vh;
  font-size: 4vw;
  border: rgb(26, 26, 26) ;
  border-bottom: solid 3px white ;
  border-radius: 3vh 0 4vw 4vw;
 
}
.fondol{
  background-image: url(./assets/fondo-l.jpg);
  background-size: 100vW 100vh;
  
  
}
.citiesTexto{
  font-size: 4vw;
  color: aquamarine;

}
.listaciudades{
  background-color: rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.citiesCard{
  height: 85%;
  border-radius: 3rem !important;
  background-color: black !important;
}
.cardImg:hover{
  width: 90vw;
  height: 70vh !important;
}
.cardImg{
  height: 65vh !important;
  width: 80vw;
  padding-bottom: 5vh;
  border-radius: 3rem !important;
  margin-bottom: 10vh;
  
}
.linkCards{
  text-decoration: none;
  text-align: center;
}


/*boton ir a ciudades hero*/
.boton{
  border-radius: 3rem 1vh  ;
  background-color: rgb(24, 243, 232);
  padding: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  border: solid;
  text-decoration: lavender;
  color:rgb(0, 0, 0);
  box-shadow: 1vw 1vw 1vw 1vh rgba(0, 0, 0, 0.651);
}
.boton:hover{
  color: rgb(24, 243, 232);
  background-color: rgb(0, 0, 0);
}
/* estilos del carucel*/
.tituloC{
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  text-align: center;
  background-color: rgb(24, 243, 232);
  border-radius: 10px;
  padding: 1rem;
}
.cards-bodys{
  align-items: center;
  background-color: rgb(0, 0, 0) !important;
}
.contenedor-carusel{

   padding:1vh 4vw 1vh 5vw;
  background-color: rgb(26, 26, 26);
  align-items: center; 
  }
div.contenedo-cards{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 600px;
  text-align: center;
 padding: 1rem;

}
.headerItinerario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 27vh;
}
.nombreGuia{
  color: antiquewhite;
  font-size: 3vw;
  text-decoration: underline rgb(11, 237, 245);
}
.card .img-cards{
 
  width: 100%;
  height: 8rem;
  max-width: 900px;
  max-height: 300px;
  
  height: 60vh;
  background-size: contain;
  background-color: black !important;
}
.iconoItinerarios{
  height: 15vh;
  width: 11vw;
  border-radius: 10vh;
  border: solid 5px  rgb(11, 237, 245);
}
.card{
  background-color: black !important;
}
.itinerarioContenedor{
  height: 100%;
  width: 60vw;
  background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 3%;
}
.accordion-body{
  color: black;
}
.cards{
  background-color: rgb(46, 46, 46) !important;
}
.cards-texto{
  color: white !important;
}
/*footer*/
.footer{
  height: 5rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  
}
.link-f{
  color: white;
  text-decoration: none;
  font-size: 2vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.link-f:hover{
  color: rgb(24, 243, 232) !important; 

}
.barra-inf-links{
  display: flex;
  justify-content:space-between;
  width: 100%;
  
}
.barra-inf{
  background-color: rgb(0, 0, 0);
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  margin-left: 7rem;
}
.barra-inf img{
  margin-left: 0.5rem;
}
.sinCitis{
  height: 30vh;
  background-color: white;
}
/*header-navbar*/
.user-img{
  width:50px ;
}
.navbar{
  background-color: rgb(0, 0, 0) ;
  height: 10%; 
}
.navbar-izquierda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-navbar{
  color: rgb(255, 255, 255) !important;
  padding: 0 1rem;
  font-size: 2vw;
  text-decoration: none;
}
.link-navbar:hover{
  color: rgb(24, 243, 232) !important;
  
}
.actividades{
  display: flex;
  
  justify-content: space-around;
}
.cometariosContenedor{
 box-sizing: content-box;
}
.cardActivi{
  margin-left: 5% !important;
}
.tituloActi{
  color: white !important; 
}
div.activityPic {
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
}
div.activity {
  display: flex;
  
}
.dropdown-item{
  color: white !important;
  width: 3vw !important;

}
.espacio{
  width: 5vw;
}
.dropdown-item:hover{
  background-color: rgb(37, 37, 37) !important;
  color: rgb(24, 243, 232) !important;
}
.dropdown-menu{
  background-color: rgb(37, 37, 37) !important;
  color: rgb(24, 243, 232) !important;
}

.link-contenedor:hover{
  background-color: rgb(59, 58, 58);
  border-radius: 2rem;

}
.mytinerary-navbar{
  color: antiquewhite;
  font-size: 3vh;
  font-family: 'Times New Roman', Times, serif;
}
.contenedor-poster{
  height: 55vh;  
display: flex;
justify-content: center;
}
.hastags{
  color: aqua;
  padding-left: 2vh;
}
/* comentarios*/
div.profilePicContainter, div.profilePic {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
 
}
div.textArea {
  display: flex;
}

div.textArea p {
  background-color: lightslategray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: .5rem;
  font-size: 2vmin;
  margin-left: 2rem;
  margin-right: .5rem;
  margin-top: .5rem;
}
.barrabusqueda{
  height: 7vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
  border: solid black 6vh 0 0 0;
  padding-bottom: 3vh;

}
.likes{
  font-size: 4vh;
  color: white;
}
.contenedor-citisl{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tamaño{
  height: 20vh;
}

.textbusc{
  font-size: 3vw;
}
.buscador{
  width: 40vw;
}
.espaciado.carusel{
  height: 20vh;
  background-color: black;
  
}
.contenedor-texto-post{
  background-color: rgba(0, 0, 0, 0.671);
  margin-top: 13vh;
  height: 40vh;
  width: 55vw;
  border-radius: 3vw ;
}
.texto-poster{
  font-size: 10vw;
  text-align: center;
  
  color:rgb(24, 243, 232);
  
}


/* herooooooo...................... */

.cuerpo{
  
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.cartel-cuerpo{
 background-color: rgba(72, 165, 145, 0.418);
 height: 60vh;
 box-shadow: 1vw 3vh 8vh 2vh rgba(232, 241, 221, 0.573);
 border-radius: 3rem;
 padding: 1.5rem;
}
.p-cartel{
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(249, 255, 254);
 
  
}
.p-hero-uno{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 2vw;

}
.p-hero-dos{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 3vw;

}
.p-hero-tres{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 2vw;

}
.boton-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitulo{
  font-size: 8vw;
  text-align: center;
  color: rgb(24, 243, 232);
}
.boton-cartel{
  background-color: rgb(174, 0, 255);
  margin-top: 1rem;
  padding:1rem;
  color: black;
  margin-bottom:1rem;
}

.construction{
  background-color: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34vh;
  width: 30vw;
  height: 20vh;
  margin-left: 37vw;
}
.cityCartel{
  background-color: black;
  height: 50vh;
  width: 80vw;
}
.contenedorCity{
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.foto-carne{
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
.contenedorItinerario{
  background-color:rgb(26, 26, 26);
  width: 70vw;
  border: solid 3px black;
  border-radius: 1vw;
}
.dato1{
  border: solid 3px black;
  width: 49.9vw;
  border-radius:0 1vw 0  0 ;
}
.pricio{
  color: aqua;
  font-weight:bold;

  
}
.botonvuelta{
  height: 30vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.datos3{
justify-content: space-around;
  display: flex;
}
.hastag{
  display:flex;
}
.price{
  display:flex;
  font-size: 3vw;
}
.duration{
  color: aqua;
  font-size: 3vw;
}
.dato2{
  display: flex;
  justify-content: space-around;
}
.datosItinerario{
  display: flex;
  flex-direction: column;
}
.nombreItinerario{
  font-size: 5vw;
  text-align: center;
  color: aqua;
  
}
.cardItinerario{
display: flex;
}

.imagenEle{
  height: 30vh;
  width: 70vw;
  border-radius: 0  0  20vw 20vw ;
}
.relative{
  position: relative;
  bottom: 20vh;
}
.accordion-button{
  background-image: url(../src/assets/itienrarios.jpg);
  border: rgb(31, 30, 30) solid 3px !important;
  color: aqua !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
}
.contenedortodo{
  height: 100vh;
  background-color:rgb(31, 30, 30) ;
}
.contenedorItinerarios{
  background-color:rgb(31, 30, 30) ;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}
.foterCity{
  height: 5vh;
}
.sinItinerarios{
  height: 30vh;
  width: 40vh;
  background-color: aqua;
  text-align: center;
  border-radius: 3vw;
  border: solid black 5px;
  
}


.volverAciTy{
  padding-top: 10vh;
  margin-bottom: 10vh;
}
.titulociudad{
  text-align: center;
  color: aqua;
  
}
.contenedorCartelCiudad{
  background-color: black;
  border-radius: 0  0  20vw 20vw ;
  width: 70vw;
  height: 90%;
}



.citi-name{
  text-align: center;
    background-color: rgba(137, 43, 226, 0.76);
    width: 28.8%;
    margin: 0;
    margin-top: 17vh;
    position: absolute;
    color: rgb(13, 13, 14);
    font-style: italic;
    font-size: 2vh;
    font-weight: bold;
}

.imagenes{
  width: 50px;
}


.poster-texto{
  text-align: center;
  font-size: 3vw;
  color: rgb(165, 101, 23);
}

.cuerpo-hero{
  height: 96vh;
}
.sinresultado{
  height: 35vh;
  width: 30vw;
  background-color: aqua;
  border-radius:2rem ;
  text-align: center;
  margin-left: 30vw;
}


@media(max-width:700px){
  .tituloC{
    font-size: 10vw;
    text-align: center;
    background-color: rgb(24, 243, 232);
    border-radius: 10px;
    
    
  }
  .contenedor-citisl {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgb(116, 0, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .navbarh{
    background-color: rgb(0, 0, 0) ;
    height: 10vh;
    
  }
  .cartel-cuerpo{

   background-color: rgba(0, 0, 0, 0.658);
   height: 20vh;
   border-radius: 3rem;
  }
  .subtitulo{
    font-size: 2rem;
    text-align: center;
    color: rgb(134, 51, 228);
  }
  .p-cartel{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(247, 160, 247);
  }
  .boton{
  
    border-radius: 3rem 0 ;
    background-color: blueviolet;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    
  }
  
  .barra-inf{
    background-color: rgb(0, 0, 0);
    height: 5vh;
    
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:url(./assets/bg.jpg) ;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  
  .tvariable{
    width:37vw ;
    height:18vh ;
  }
  .citi-name{
    text-align: center;
    background-color:blueviolet;
    width: 37.9%;
    margin: 0;
    margin-top: 14vh;
    position: absolute;
    color: rgb(13, 13, 14);
    font-style: italic;
    font-size: 2vh;
    font-weight: bold;
  }
  .cuerpo{
  
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedor-carusel{
    background-color: rgb(156, 7, 156);

    
    }
}
@media(max-width:768px){
  .card{
    height: 30vh;
    background-size: contain;
    background-color: black !important;
  } 
  .cards{
    background-color: rgb(46, 46, 46) !important;
    height: 40vh;
  }
}
.preloader{
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: relative;
  top: 40vh;
  left: 0vw;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.form-control.is-valid{
  border: 3px solid #28a745;
  padding-right: 0 !important;
  transform: none !important;
}
.form-control.is-invalid{
  border: 3px solid #dc3545;
  padding-right: 0 !important;
}
/* formulario*/
.container-formulario-in{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 45vw;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 4vh;
}
.container-formulario{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 110vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 4vh;
}
.ajusteInput{
  margin-top: 4vh;
}
.enviar:hover {
background-color: turquoise;
}
.main-formulario-in{
  background-color: rgba(0, 0, 0, 0.705);
    width: 40vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-formulario{
    background-color: rgba(0, 0, 0, 0.705);
    width: 40vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ajustarEnvio{
  padding-top: 2vh;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.estilosGOOgle{
  color: black !important;
  font-size: 2vw !important;
  border-radius: 4vh 0 4vh !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center;
  width: 30vw;
}
.estilosGOOgle:hover{
  background-color: turquoise !important;
}
.or{
  color: white;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.labelFormulario{
 font-size: 2vw ;
 flex-direction: column;
 display: 'flex'
}
.inputsForm{
  border: white;
  border-radius: 0 2vh 0 3vh;
  box-shadow: 100px rgb(0, 0, 0);
}
.opticionsinvalor{
  color: rgba(0, 0, 0, 0.26);
}
.loading{
  height: 50vh;
  width: 100%;
  background-color: rgb(26, 26, 26);
}
.headerLoading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cargando{
  font-size: 5vw;
  color: rgb(99, 99, 99);
}

.rellenoLoading{
  height: 7vh;
}
.divPadre{
  height: 30vh;
  position: relative;
}
.divHijo{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.spinnerReactstrap{
  width: 100px !important;
  height: 100px !important;
  border: 10px solid currentColor !important;
  border-right-color: transparent !important;
}
