body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(./assets/fondo.jpg) ;
  background-size: 100vw 110vh;
  background-repeat: no-repeat;
}
.user-drop{
  margin-right: 2vw;
}
/* estilos del carucel*/
.tituloC{
  font-size: 3vw;
  text-align: center;
  background-color: rgb(24, 243, 232);
  border-radius: 10px;
}
.cards-bodys{
  background-color: rgb(0, 0, 0) !important;
}
.contenedor-carusel{
  padding:4vh 8vw 10vh 8vw;
  background-color: rgb(39, 39, 39);
  }

.card{
  height: 65vh;
  background-size: contain;
  background-color: black !important;
}
.cards{
  background-color: rgb(46, 46, 46) !important;
}
.cards-texto{
  color: white !important;
}

/*header-navbar*/
.user-img{
  width:50px ;
}
.navbar{
  background-color: rgb(0, 0, 0) ;
  height: 10%; 
}
.navbar-izquierda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-navbar{
  color: rgb(255, 255, 255) !important;
  padding: 0 1rem;
  font-size: 2vw;
  text-decoration: none;
}
.link-navbar:hover{
  color: rgb(24, 243, 232) !important;
  
}

.dropdown-item{
  color: white !important;
  width: 3vw !important;

}
.espacio{
  width: 5vw;
}
.dropdown-item:hover{
  background-color: rgb(63, 62, 62) !important;
  color: rgb(24, 243, 232) !important;
}
.dropdown-menu{
  background-color: rgb(37, 37, 37) !important;
  color: rgb(24, 243, 232) !important;
}

.link-contenedor:hover{
  background-color: rgb(59, 58, 58);
  border-radius: 2rem;

}
.mytinerary-navbar{
  color: antiquewhite;
  font-size: 3vh;
  font-family: 'Times New Roman', Times, serif;
}
.contenedor-poster{
  height: 55vh;  
display: flex;
justify-content: center;
}
.barrabusqueda{
  height: 7vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
  border: solid black 6vh 0 0 0;
  box-shadow: 1vw 2vh 5vh 2vh rgba(0, 0, 0, 0.973);
  padding-bottom: 3vh;

}
.contenedor-citisl{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tamaño{
  height: 20vh;
}
.img-lcitis{
  width: 80vw;
  height: 70vh;
  border-radius: 10vh;
background-color: rgb(10, 183, 196);
padding-bottom: 5vh;
padding-top: 10vh
}
.img-city{
  width: 80vw;
  height: 100vh;
  border-radius: cover;
background-color: rgb(255, 255, 255);

}
.f{
  position: relative;
  top: 7vw;
  font-size: 6vw;
}
.b{
  width: 80vw;
  height: 70vh;
}
.img-lcitis:hover{
  
  animation-name: citisCatalogo;
  animation-duration: 20s;
  border-radius: 30vw 0;
  padding-top: 10vh;

}


@keyframes citisCatalogo {
  0%{border-radius: 5vw 10vh;
    
  }
  
  10%{border-radius: 30vw 0;

  }
  
  
}
.fondol{
  background-image: url(./assets/fondo-l.jpg);
  background-size: 100vW 100vh;
  
}

.textbusc{
  font-size: 3vw;
}
.buscador{
  width: 40vw;
}
.espaciado.carusel{
  height: 20vh;
  background-color: black;
  
}
.contenedor-texto-post{
  background-color: rgba(0, 0, 0, 0.671);
  margin-top: 13vh;
  height: 32vh;
  width: 55vw;
  border-radius: 3vw ;
}
.texto-poster{
  font-size: 10vw;
  text-align: center;
  
  color:rgb(24, 243, 232);
  
}




.cuerpo{
  
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cartel-cuerpo{
 background-color: rgba(0, 0, 0, 0.658);
 height: 40vh;
 box-shadow: 1vw 2vh 5vh 2vh rgba(0, 0, 0, 0.973);
 border-radius: 3rem;
}
.p-cartel{
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(255, 255, 255);
  
}
.p-hero-uno{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 2vw;

}
.p-hero-dos{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 3vw;

}
.p-hero-tres{
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
  font-size: 2vw;

}
.boton-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitulo{
  font-size: 8vw;
  text-align: center;
  color: rgb(24, 243, 232);
}
.boton-cartel{
  background-color: rgb(174, 0, 255);
  margin-top: 1rem;
  padding:1rem;
  color: black;
  margin-bottom:1rem;
}
.boton{
  border-radius: 3rem 1vh  ;
  background-color: rgb(4, 117, 112);
  padding: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  border: solid;
  text-decoration: lavender;
  color:rgb(0, 0, 0);
  box-shadow: 1vw 1vw 1vw 1vh rgba(0, 0, 0, 0.651);
}
.construction{
  background-color: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34vh;
  width: 30vw;
  height: 20vh;
  margin-left: 37vw;
}
.contenedorCity{
  height: 25vh;
}
.ajuste{
margin-left: 40vw;
margin-top: 14vh;
}
.imagenEle{
  height: 50vh;
  width: 100vw;
}
.relative{
  position: relative;
  bottom: 20vh;
}
.titulociudad{
  text-align: center;
  background-color: rgba(3, 3, 3, 0.514);
  color: white;
  position: relative;
 bottom: 8vh;
}
.boton:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(226, 64, 213);
}
.barra-inf{
  background-color: rgb(0, 0, 0);
  height: 4vh;
}

.citi-name{
  text-align: center;
    background-color: rgba(137, 43, 226, 0.76);
    width: 28.8%;
    margin: 0;
    margin-top: 17vh;
    position: absolute;
    color: rgb(13, 13, 14);
    font-style: italic;
    font-size: 2vh;
    font-weight: bold;
}

.imagenes{
  width: 50px;
}


.poster-texto{
  text-align: center;
  font-size: 8vw;
  color: rgb(165, 101, 23);
}

.cuerpo-hero{
  height: 90vh;
}
.sinresultado{
  height: 35vh;
  width: 30vw;
  background-color: aqua;
  border-radius:2rem ;
  text-align: center;
  margin-left: 30vw;
}


@media(max-width:700px){
  .tituloC{
    font-size: 10vw;
    text-align: center;
    background-color: rgb(24, 243, 232);
    border-radius: 10px;
    
    
  }
  .contenedor-citisl {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgb(116, 0, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .navbarh{
    background-color: rgb(0, 0, 0) ;
    height: 10vh;
    
  }
  .cartel-cuerpo{

   background-color: rgba(0, 0, 0, 0.658);
   height: 20vh;
   border-radius: 3rem;
  }
  .subtitulo{
    font-size: 2rem;
    text-align: center;
    color: rgb(134, 51, 228);
  }
  .p-cartel{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(247, 160, 247);
  }
  .boton{
  
    border-radius: 3rem 0 ;
    background-color: blueviolet;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    
  }
  
  .barra-inf{
    background-color: rgb(0, 0, 0);
    height: 5vh;
    
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:url(./assets/bg.jpg) ;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  
  .tvariable{
    width:37vw ;
    height:18vh ;
  }
  .citi-name{
    text-align: center;
    background-color:blueviolet;
    width: 37.9%;
    margin: 0;
    margin-top: 14vh;
    position: absolute;
    color: rgb(13, 13, 14);
    font-style: italic;
    font-size: 2vh;
    font-weight: bold;
  }
  .cuerpo{
  
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedor-carusel{
    background-color: rgb(156, 7, 156);

    
    }
}
@media(max-width:768px){
  .card{
    height: 30vh;
    background-size: contain;
    background-color: black !important;
  } 
  .cards{
    background-color: rgb(46, 46, 46) !important;
    height: 40vh;
  }
}